.aside {
  position: fixed;
  left: 1rem;
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 16px;
  border: solid 2px #d90368;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.div {
  margin: 15px 0;
}
