.container {
  margin: 0 auto;
  padding: 20px;
  height: 95vh;
  overflow-y: scroll;
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
  font-size: 70px;
  text-align: center;
  font-weight: 400;
}