

.stats__main {
    padding: var(--padding-page);
    height: 95vh;
    overflow: scroll;
}

.stats__subroomsSection {
    width: 100%;
    margin-top: 2rem;
}

.stats__subroomsSection tbody tr {
    display: flex;
    padding: 1rem 0;
    justify-content: space-evenly;
}

.stats__subroomsTitle {
    text-align: center;
    font-weight: bold;
    border-radius: .75rem;
    background-color: var(--project-purple);
    padding: 0.375rem 0;
    color: var(--project-white);
}
.stats__subroomsTitle h4 {
    margin: 0;
}