.cir2{
    width: 10vw;
    height: 10vw;
    border: 1px solid white;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0 0 20px 2px rgb(38, 199, 38);
    top: -3vw;
    left: 25%;
    animation-name: shine;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
@keyframes  shine{
    0%{box-shadow: 0 0 20px 2px rgb(25, 122, 25);}
    100%{box-shadow: 0 0 20px 2px rgb(38, 199, 38);}
}