.left{
    width: 25vw;
    height: 80vh;
    margin: 3vw;
    position: absolute;
}
.titleContainer{
    width: 100%;
    height: 30%;
    text-align: center;
}
.titGame{
    font-family: "Londrina Solid", sans-serif;
    font-size: 4.5vw;
    font-weight: 500px;
    font-style: normal;
    color: white;
    margin-left: 1vw;
}
.tit{
    font-family: "Londrina Solid", sans-serif;
    font-size: 4.5vw;
    font-weight: 500px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.719);
}
.playersContainer{
    width: 100%;
    height: 70%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teamName{
    color: white;
}
hr{
    margin: 1vw;
    background-color: rgb(255, 255, 255, 0.5);
}