.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    overflow: hidden;
}

.loader {
    background: conic-gradient( black, #d90368);
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    animation: rotation 2s infinite linear;
}

.loader::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: black;
    top: 10%;
    left: 10%;
}

.loader::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #d90368;
    right: 45%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}