.cardContainer {
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 2px solid #d90368;
  margin-top: 15px;
  padding: 15px;
}

.input_text {
  font-size: 1.1rem;
  padding: 0 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: none;
  outline: none;
  border-bottom: #d90368 solid 2px;
}

.labelInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.deleteButton {
  background-color: #ff5555;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.deleteButton:hover {
  background-color: #cc0000;
}
