.SubroomStat {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.SubroomStat__inf {
    height: fit-content;
    width: fit-content;
    text-align: center;
    background-color: var(--project-gray);
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: var(--padding-box);
    border-radius: .5rem;
    z-index: 10;

}

.SubroomStat__inf h4,
.SubroomStat__inf p {
    margin: 0;
}

.SubroomStat__Players {
    width: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 10;
}